.courses-title{
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    color: #64748B;
    text-align: center;
}

.courses-block{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.courses-card{
    width: 270px;
    background-color: white;
    border-radius: 16px;
    padding: 15px 10px;
    margin-bottom: 30px;
}

.course-img{
    width: 100%;
}

.pricee{
    display: flex;
    justify-content: flex-end;
}

.price{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(to right, #FF7373, #CD2525);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
}

.course-name{
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    color: #64748B;
    padding: 10px 0;
}

.course-author{
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: #64748B;
    padding-bottom: 20px;
}

.card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-number{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #64748B;
}